grafana:
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.homelab.connortech.me
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: web