---

- name: Ensure k3s config directory exists
  file:
    path: /etc/rancher/k3s
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Configure k3s registry mirror
  template:
    src: registries.yaml.j2
    dest: /etc/rancher/k3s/registries.yaml
    owner: root
    group: root
    mode: 0644
  notify: restart k3s

- name: Ensure k3s is restarted if configuration changed
  meta: flush_handlers
